@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

/* Webkit */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
