@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

/* Webkit */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a1a1aa;
}

.dark::-webkit-scrollbar-thumb {
  background: #e4e4e7;
}
